.view-total-harga-transaksi{
	height: 150px;
	font-size: 50px;
	font-weight: bold;
	background-color: rgb(235, 235, 228);

}

.tabel-nota-jual{
	height: 330px;
	overflow-y:scroll;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
#TransjualAddForm{
	padding: 0;
	margin:0;
	width: 100%;
}

.input-select{
	background-color: rgb(235, 235, 228);	
}

.hasil-kodebarang,.hasil-nama,.edit,.hapus{
	cursor: pointer;
}

.hide{
	display: none;
}
<<<<<<< HEAD:app/View/Themed/tema1/webroot/css/me.css
/*
=======

>>>>>>> 033d6aaae4758e94df03e666c76226825feb4605:app/View/Themed/Tema1/webroot/css/me.css
.input-kode-barang,.input-kode-barang:focus{
	border-color: red;
	box-shadow: 0 1px 1px rgba(254, 0, 0, 0.075) inset, 0 0 8px rgba(254, 0, 0, 0.6);
	 outline: 0 none;
<<<<<<< HEAD:app/View/Themed/tema1/webroot/css/me.css
}*/

.me-disabled{
	background-color: rgb(235, 235, 228);
}


/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}



.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
  color: #fff;
  background-color: #73c437;
}
.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}



.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

a{
  cursor: pointer;
=======
}

.me-disabled{
	background-color: rgb(235, 235, 228);
>>>>>>> 033d6aaae4758e94df03e666c76226825feb4605:app/View/Themed/Tema1/webroot/css/me.css
}